*.apk
*.ap_

*.dex

*.class

bin/
gen/

Thumbs.db

*.iml
.idea
.gradle
/local.properties
/.idea/modules
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.navigation
output.json
obj/
build.gradle